.signup-outer-div{
    background-color: #DAF1FF;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-inner-div{
    margin: 50px;
    padding: 30px;
    background-color:white;
    border-radius: 60px;
    justify-content: center;
    display: flex;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-btn{
    padding: 20px;
    display: flex;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

/* .sign-up-elements-div{
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
} */